stage3/03-nodejs/files/flows_raspberrypi.json
[{"id":"bd93e9de.473388","type":"tab","label":"Network"},{"id":"74deb48a.f6d8ac","type":"tab","label":"Service","disabled":false,"info":""},{"id":"e53f9061.9c4d3","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"Helvetica Neue","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"Helvetica Neue"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b906bcb7.f06be","type":"ui_group","z":"","name":"Children","tab":"e3049028.c223c","order":2,"disp":true,"width":"12"},{"id":"b13d62f5.31f88","type":"ui_group","z":"","name":"Commission","tab":"e3049028.c223c","order":3,"disp":true,"width":"12"},{"id":"e3049028.c223c","type":"ui_tab","z":"","name":"Network","icon":"dashboard"},{"id":"f75c309b.76902","type":"ui_tab","z":"","name":"Service","icon":"dashboard"},{"id":"6d2811c2.1be41","type":"ui_group","z":"","name":"Nodes","tab":"f75c309b.76902","order":1,"disp":true,"width":"12"},{"id":"3159839.d77797c","type":"ui_group","z":"","name":"Status","tab":"e3049028.c223c","order":1,"disp":true,"width":"12"},{"id":"212ea4b4.c3d88c","type":"service-lesley","z":"","name":"service-lesley"},{"id":"9d33a1f2.63778","type":"ui_template","z":"bd93e9de.473388","group":"b906bcb7.f06be","name":"Children","order":0,"width":"12","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>\n\n<br>&nbsp;</br>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":300,"wires":[[]]},{"id":"ff6af5b7.28e038","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl commissioner -a ","addpay":true,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Add joiner","x":520,"y":740,"wires":[[],["4f2b0374.d0aacc"],[]]},{"id":"efd51aeb.51b088","type":"function","z":"bd93e9de.473388","name":"Validate","func":"const regex = /^[0-9ABCDEFGHJKLMNPRSTUVWXY]{6,32}$/g;\n\nvar psk = msg.payload\n\nif (regex.exec(psk)) {\n    msg.payload = psk\n    return msg;\n}","outputs":1,"noerr":0,"x":380,"y":740,"wires":[["ff6af5b7.28e038"]]},{"id":"4f2b0374.d0aacc","type":"function","z":"bd93e9de.473388","name":"Report status","func":"if (msg.payload.indexOf(\"Joiner added.\") != -1) {\n    msg.payload = \"PSK set\";\n} else {\n    msg.payload = \"Error setting PSK\";\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":740,"wires":[["cc129c3.7ef226"]]},{"id":"bc0d93e0.1fc82","type":"ui_text_input","z":"bd93e9de.473388","name":"psk","label":"Device PSK","group":"b13d62f5.31f88","order":3,"width":0,"height":0,"passthru":false,"mode":"text","delay":"0","topic":"","x":250,"y":740,"wires":[["efd51aeb.51b088"]]},{"id":"cc129c3.7ef226","type":"ui_toast","z":"bd93e9de.473388","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":850,"y":740,"wires":[]},{"id":"e23a4677.b06998","type":"function","z":"bd93e9de.473388","name":"Format list","func":"var lines = msg.payload.split(/[\\r\\n]+/g);\n// msg.payload = \"<li>Foo</li>\";\n// msg.payload += \"<li>Bar</li>\";\n\nmsg.payload = \"<table><tbody><tr><td>ID</td><td>RSSI</td><td>Age</td></tr>\";\nfor (var i=1; i<lines.length-2; i++) {\n    var data = [];\n    var kvs = eval(lines[i]).split(',');\n    for (var j=0; j<kvs.length; j++) {\n        var kv = kvs[j].split(\":\");\n        data.push(kv[1] ? kv[1] : kv[0]);\n    }\n    var x = kvs[0];\n    var y = x.split(\":\");\n    var z = y[0];\n    msg.payload += \"<tr>\";\n    msg.payload += \"<td>\" + data[0] + \"</td>\";\n    msg.payload += \"<td>\" + data[4] + \"</td>\";\n    msg.payload += \"<td>\" + data[7] + \"/\" + data[6] + \"</td>\";\n    msg.payload += \"</tr>\";\n}\nmsg.payload += \"</tbody></table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":300,"wires":[["9d33a1f2.63778"]]},{"id":"8be3f12b.1cfc4","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"1","crontab":"","once":false,"x":110,"y":300,"wires":[["2a6433e.e72a9cc"]]},{"id":"2a6433e.e72a9cc","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl getprop Thread:ChildTable","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Get children","x":270,"y":300,"wires":[["e23a4677.b06998"],[],[]]},{"id":"f9573c64.6aa9e","type":"exec","z":"bd93e9de.473388","command":"sudo /home/pi/.node-red/scripts/wpan_restart.sh","addpay":false,"append":"","useSpawn":"","timer":"","name":"Restart WPAN","x":640,"y":200,"wires":[[],[],[]]},{"id":"bfc62ce3.01d9","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":false,"x":110,"y":200,"wires":[["573051e4.fe521"]]},{"id":"573051e4.fe521","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl status","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Get status","x":270,"y":200,"wires":[["d4b47b7a.844848"],[],[]]},{"id":"d4b47b7a.844848","type":"function","z":"bd93e9de.473388","name":"Detect problem","func":"if (msg.payload.indexOf('\"NCP:State\" => \"associated\"') == -1)\n    return msg;","outputs":1,"noerr":0,"x":460,"y":200,"wires":[["f9573c64.6aa9e"]]},{"id":"202f24de.7185ec","type":"comment","z":"bd93e9de.473388","name":"Network status daemon","info":"From time to time USB error occurs and wpan interface is desctructed.\nThis daemon checks the status of wpan0 interfacte and restart the USB and network if error condition is detected.\n","x":120,"y":160,"wires":[]},{"id":"b0c1c76b.ffbac8","type":"comment","z":"bd93e9de.473388","name":"Commissioning field","info":"","x":110,"y":460,"wires":[]},{"id":"7fbd13a9.85f0ac","type":"comment","z":"bd93e9de.473388","name":"Children list","info":"","x":90,"y":260,"wires":[]},{"id":"1bbaa16b.45aa4f","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":110,"y":80,"wires":[["b7c98adf.b161c8"]]},{"id":"27122492.19828c","type":"comment","z":"bd93e9de.473388","name":"Initial configuration","info":"Check if OpenThread network configuration is present and if not - create new configuration.","x":110,"y":40,"wires":[]},{"id":"2e34e33e.44faac","type":"exec","z":"bd93e9de.473388","command":"sudo /home/pi/.node-red/scripts/wpan_new_configuration.sh","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Create new settings","x":660,"y":80,"wires":[[],[],[]]},{"id":"b7c98adf.b161c8","type":"file in","z":"bd93e9de.473388","name":"wpan_network_key","filename":"/home/pi/.node-red/scripts/wpan_network_key","format":"utf8","sendError":true,"x":290,"y":80,"wires":[["3da60ba7.b24b44"]]},{"id":"3da60ba7.b24b44","type":"function","z":"bd93e9de.473388","name":"Validate key","func":"if (!msg.payload || msg.payload.length != 32) {\n    msg.payload = 0;\n    return msg;\n}","outputs":1,"noerr":0,"x":470,"y":80,"wires":[["2e34e33e.44faac"]]},{"id":"3023913e.004bde","type":"http request","z":"74deb48a.f6d8ac","name":"","method":"GET","ret":"obj","url":"http://localhost:8888/endpoints","tls":"","x":290,"y":100,"wires":[["c442823c.e97bc"]]},{"id":"37965ff8.d22df","type":"inject","z":"74deb48a.f6d8ac","name":"","topic":"","payload":"","payloadType":"date","repeat":"1.23","crontab":"","once":false,"x":130,"y":100,"wires":[["3023913e.004bde"]]},{"id":"c442823c.e97bc","type":"function","z":"74deb48a.f6d8ac","name":"Format list","func":"let nodes = msg.payload;\n\nif (msg.statusCode !== 200) {\n    msg.payload = \"Service unavailable!\";\n    return msg;\n}\n\nmsg.payload = \"<table><tbody><tr><td>Name</td><td>Type</td><td>Queued</td></tr>\";\n\nfor (var i=0; i<nodes.length; i++) {\n    msg.payload += \"<tr>\";\n    msg.payload += \"<td>\" + nodes[i].name + \"</td>\";\n    msg.payload += \"<td>\" + nodes[i].type + \"</td>\";\n    msg.payload += \"<td>\" + nodes[i].q + \"</td>\";\n    msg.payload += \"</tr>\";\n}\nmsg.payload += \"</tbody></table>\";\n\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["4c6a975a.41c6c8"]]},{"id":"4c6a975a.41c6c8","type":"ui_template","z":"74deb48a.f6d8ac","group":"6d2811c2.1be41","name":"","order":0,"width":"12","height":"6","format":"<div ng-bind-html=\"msg.payload\"></div>\n<br>&nbsp;</br>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":600,"y":100,"wires":[[]]},{"id":"657fdb6a.d5bf84","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":110,"y":400,"wires":[["5cb06000.36b4c"]]},{"id":"5cb06000.36b4c","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl status","addpay":false,"append":"","useSpawn":"","timer":"","oldrc":false,"name":"Get status","x":270,"y":400,"wires":[["fd8973e7.ac184"],[],[]]},{"id":"fd8973e7.ac184","type":"function","z":"bd93e9de.473388","name":"Format data","func":"var data={};\nvar words;\ndata.payload=\"\";\ndata.name=\"\";\ndata.state=\"\";\n//data.push({payload: \"\"});\nvar lines=msg.payload.split(\"\\n\");\nfor(var i=0;i < lines.length;i++){\n    if(lines[i].search(\"NCP:State\")!=-1){\n        words=lines[i].split(\" \");\n        data.name+=\"NCP State\\n\";\n        data.state=words[2]+\"\\n\";\n    }\n    if(lines[i].search(\"Network:Name\")!=-1){\n        words=lines[i].split(\" \");\n        data.name+=\"Netowrk Name\\n\";\n        data.state+=words[2]+\"\\n\";\n    }\n    if(lines[i].search(\"Network:NodeType\")!=-1){\n        words=lines[i].split(\" \");\n        data.name+=\"Network NodeType\\n\";\n        data.state+=words[2]+\"\\n\";\n    }\n    if(lines[i].search(\"NCP:Channel\")!=-1){\n        words=lines[i].split(\" \");\n        data.name+=\"NCP Channel\\n\";\n        data.state+=words[2]+\"\\n\";\n    }\n    if(lines[i].search(\"IPv6:LinkLocalAddress\")!=-1){\n        words=lines[i].split(\" \");\n        data.name+=\"IPv6 LinkLocalAdress\\n\";\n        data.state+=words[2]+\"\\n\";\n    }\n}\nvar lines2 = data.name.split(\"\\n\");\nvar lines3 = data.state.split(\"\\n\");\n\n    msg.payload = \"<table><tbody><tr><td></td><td></td></tr>\";\n    for (var i=0; i<lines2.length; i++) {\n    msg.payload += \"<tr>\";\n    msg.payload += \"<td>\" + lines2[i] + \"</td>\";\n    msg.payload += \"<td>\" + lines3[i] + \"</td>\";\n    msg.payload += \"</tr>\";\n}\nmsg.payload += \"</tbody></table>\";\n\n\nreturn msg;","outputs":"1","noerr":0,"x":450,"y":400,"wires":[["d42ed77f.ed72d8"]]},{"id":"119ef123.06bbcf","type":"comment","z":"bd93e9de.473388","name":"Network information","info":"","x":110,"y":360,"wires":[]},{"id":"d42ed77f.ed72d8","type":"ui_template","z":"bd93e9de.473388","group":"3159839.d77797c","name":"Status","order":0,"width":"12","height":"3","format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":590,"y":400,"wires":[[]]},{"id":"e672f225.388a7","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":true,"x":110,"y":560,"wires":[["e44be867.a6dbd8"]]},{"id":"e44be867.a6dbd8","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl commissioner -s","addpay":false,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Get status","x":270,"y":560,"wires":[[],["f88b456b.b36158"],[]]},{"id":"ec4098f3.d69648","type":"ui_switch","z":"bd93e9de.473388","name":"","label":"{{msg.label}}","group":"b13d62f5.31f88","order":2,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":250,"y":660,"wires":[["d8a4c9b7.cca9d8","7fb25f6.fd677a"]]},{"id":"f88b456b.b36158","type":"function","z":"bd93e9de.473388","name":"format","func":"msg.payload = msg.payload.startsWith('enabled');\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":560,"wires":[["30dad756.ce1518"]]},{"id":"ab63f5cb.608838","type":"exec","z":"bd93e9de.473388","command":"sudo wpanctl commissioner ","addpay":true,"append":"","useSpawn":"false","timer":"2","oldrc":false,"name":"Start/Stop","x":520,"y":660,"wires":[[],[],[]]},{"id":"d8a4c9b7.cca9d8","type":"function","z":"bd93e9de.473388","name":"format","func":"msg.payload = msg.payload ? '-e' : '-d';\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":660,"wires":[["ab63f5cb.608838"]]},{"id":"9ed9cefb.48e15","type":"delay","z":"bd93e9de.473388","name":"delay","pauseType":"delay","timeout":"50","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":130,"y":600,"wires":[["e44be867.a6dbd8"]]},{"id":"7fb25f6.fd677a","type":"link out","z":"bd93e9de.473388","name":"commissioner_switch","links":["2732c38a.a3fb1c"],"x":355,"y":700,"wires":[]},{"id":"2732c38a.a3fb1c","type":"link in","z":"bd93e9de.473388","name":"","links":["7fb25f6.fd677a"],"x":35,"y":600,"wires":[["9ed9cefb.48e15"]]},{"id":"1048721e.e6341e","type":"link in","z":"bd93e9de.473388","name":"","links":["30dad756.ce1518"],"x":35,"y":740,"wires":[["bb47c29e.7074d"]]},{"id":"bb47c29e.7074d","type":"function","z":"bd93e9de.473388","name":"format","func":"msg.enabled = msg.payload;\ndelete msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":740,"wires":[["bc0d93e0.1fc82"]]},{"id":"30dad756.ce1518","type":"link out","z":"bd93e9de.473388","name":"commissioner_status","links":["1048721e.e6341e","40c96c4d.f648c4"],"x":495,"y":560,"wires":[]},{"id":"40c96c4d.f648c4","type":"link in","z":"bd93e9de.473388","name":"","links":["30dad756.ce1518"],"x":35,"y":660,"wires":[["42bb8d4a.70a6e4"]]},{"id":"42bb8d4a.70a6e4","type":"function","z":"bd93e9de.473388","name":"format","func":"if (msg.payload) {\n    msg.label = \"Disable native commissioner\";\n} else {\n    msg.label = \"Enable native commissioner\";\n}\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":660,"wires":[["ec4098f3.d69648"]]},{"id":"6b0e6908.7585f8","type":"ui_text","z":"bd93e9de.473388","group":"b13d62f5.31f88","order":1,"width":0,"height":0,"name":"","label":"Commissioning credential:","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":500,"wires":[]},{"id":"2fb579b9.b0fac6","type":"file in","z":"bd93e9de.473388","name":"wpan_commissioning_credential","filename":"/home/pi/.node-red/scripts/wpan_commissioning_credential","format":"utf8","chunk":false,"sendError":false,"x":330,"y":500,"wires":[["6b0e6908.7585f8"]]},{"id":"5c7c9dab.6c7e34","type":"inject","z":"bd93e9de.473388","name":"","topic":"","payload":"","payloadType":"date","repeat":"30","crontab":"","once":true,"x":110,"y":500,"wires":[["2fb579b9.b0fac6"]]}]